<h2>Add new deal</h2>

<form action="/add" method="post">

	<div class="m1">
		<label for="deal_name">Deal name</label>
		<input class="m-1 p-1" type="text" name="deal_name" id="">
	</div>

	<div class="m1">
		<input class="m-1 p-1" type="submit">
	</div>

</form>