<h2>Best deals</h2>

<h2>Shops Available</h2>

<table>
    <tr>
        <th>Shop name</th>
    </tr>
    {{#each shop}}
    <tr>
        <td>{{name}}</td>
        <td>
            <a href="/add">Add new deal</a>
        </td>
    </tr>
    {{/each}}
</table>
